    <div class="sec_video">
        <div class="container">
            <div class="about-main about1">
                <div class="col-md-4 about-gd">
                    <div class="about-sub-gd" data-aos="fade-left">
                        <h4>Balance Body & Mind</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
                    </div>
                    <div class="about-sub-gd">
                        <h4>Healthy Daily Life</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
                    </div>
                </div>
                <div class="col-md-4 about-gd1" data-aos="fade-down">
                    <img src="images/video.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-4 about-gd ab-right" data-aos="fade-right">
                    <div class="about-sub-gd">
                        <h4> Nutrition Strategies</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
                    </div>
                    <div class="about-sub-gd">
                        <h4> Workout Routines</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>