   <!--//header_w3layouts_agile-->
    <!--/banner_bottom-->
    <div class="banner_bottom">
        <div class="banner_bottom_in">
            <h3 class="header_w3layouts_agile" data-aos="fade-down">Online Yoga, Meditation and Wellness</h3>

            <p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <div class="edu_button" data-aos="fade-up">
                <a class="btn btn-primary btn-lg" href="about.html" role="button">Read More </a>
            </div>
            <div class="col-md-7 yoga-video" data-aos="flip-left">
                <img src="images/b-scrn.png" class="img-responsive" alt="">
                
<form>
  <input type="text" id="adresse"/>
  <input type="button"  value="Localiser sur Google Map" onclick="TrouverAdresse();"/>
</form>
<span id="text_latlng"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21035.44689867829!2d1.9790389513034132!3d48.77366407386277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e683fb61282d95%3A0x40b82c3688c3690!2sTrappes!5e0!3m2!1sfr!2sfr!4v1534171818427" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></span>
<div id="map-canvas" style="float:right;height:220px;width:45%"></div>
                

            </div>
            <div class="col-md-5 join-form" data-aos="flip-right">
                <div class="signin-form profile join-fm">

                    <h3 class="sign">Join Now</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="Email" required="">
                            <input type="password" name="password" placeholder="Password" required="">

                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <p>
                        <a href="#"> By clicking Sign up, I agree to your terms</a>
                    </p>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//banner_bottom-->