    <!--/services-->
    <div class="services">
        <div >
            <h3 class="header_w3layouts_agile">Un bete d'evenement sa mere</h3>
            <div class="inner_sec_w3_agileinfo">
                <div class="col-6 grid_info_main" data-aos="zoom-in">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="fa fa-line-chart" aria-hidden="true"></span>
                            <h5>Increase your flexibility</h5>
                            <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                        </div>
                    </div>
                  </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//services-->