   <!--footer-->
   <link href="{{ absolute_url(asset('assets/css/font-awesome.css')) }}" rel="stylesheet">
    <footer class="contact-footer">
        <div class="bottom-social">
            <div class="container">
                <div class="col-md-8 botttom-nav-w3ls-agile">
                    <ul class="f_links col-md-4" data-aos="zoom-in">
                      
                        <li>
                            <a href="{{path('contact')}}">Contact</a>
                        </li>
                        <li>
                            <a href="{{path('index')}}">Chercher un événement</a>
                        </li>
                    </ul>
               
                  
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 social-icons" data-aos="zoom-in">
                    <h6>Connecte-toi avec nous</h6>
                    <a class="facebook" href="https://www.facebook.com/">
                        <span class="fab fa-facebook-square"></span>
                    </a>
                    <a class="twitter" href="https://twitter.com/">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="pinterest" href="https://www.pinterest.fr/">
                        <span class="fa fa-pinterest-p"></span>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="copy">
            <h2 class="footer-logo">
                <a href="index.html">Projet Omnisport
					<span>Un événement sportif a portée de main</span>
				</a>
            </h2>
            <p>© 2018 Projet Omnisport. All rights reserved | Design by
				Mohammed et Arthur.
			</p>
            <div class="clearfix"></div>
        </div>
    </footer>
    <!--/footer -->