<!--/top-bar-->
<!--banner Slider starts Here-->
<div class="top-bar_sub_w3ls_agileits">
    <h6>
        Projet Sportif
    </h6>
    <div class="search">
        <h5>
        {% if user == null %}
            <a class="sign" href="#" data-toggle="modal" data-target="#myModal2">User Login</a>
        {% else %}
            <a class="sign" href="/profile"  data-target="#myModal2">Hey {{ user.prenom }}</a>
            <a id="logout" href="/logout">Logout<i class="fas fa-power-off"></i></a>
        {% endif %}
        </h5>
        <div class="cd-main-header_w3layouts_agile">
            {# <ul class="cd-header_w3layouts_agile-buttons">
                <li>
                    <a class="cd-search-trigger" href="#cd-search">
                        <span></span>
                    </a>
                </li>
            </ul> #}
            <!-- cd-header_w3layouts_agile-buttons -->
        </div>
        <div id="cd-search" class="cd-search">
            <form action="#" method="post">
                <input name="Search" type="search" placeholder="Click enter after typing...">
            </form>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!--/top-bar-->
<div class="header_w3layouts_agile-main">
    <header class="header" id="home">
        <!--/top-bar-->
        <div class="top-bar">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="top_nav">
                            <li>
                                <a href="{{path('create_event')}}">Organiser votre evenement</a>
                            </li>
                            <li>
                                <a href="{{path('contact')}}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <!--//top-bar-->
    </header>
    <!-- banner-text -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="banner-top">
                        <div class="banner-info">
                            <h3>Organise ou rejoins des evenements sportif facilement</h3>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top1">
                        <div class="banner-info">
                            <h3>Organise ou rejoins des evenements sportif facilement</h3>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="banner-top2">
                        <div class="banner-info">
                            <h3>Organise ou rejoins des evenements sportif facilement</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top3">
                        <div class="banner-info">
                            <h3>Organise ou rejoins des evenements sportif facilement</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <form class="col-sm-12" id="searchForm">
            <div class="form-group col-sm-4 col-sm-offset-4 nospace">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" name="search_city" id="autocomplete" placeholder="Enter your address" onFocus="initAutocomplete();" required>
                    <span class="input-group-btn"><button class="btn btn-danger" value="map" type="submit" style="padding: 11px text-center" id="btn-search-city">Rechercher</button></span>
                </div>
            </div>
        </form>
        <div class="clearfix"> </div>
        <!--//Slider-->
    </div>
</div>
{% block scripts %}
{# Autocomplete google api #}
    <script type="text/javascript">
        var geocoder;
        var map;
        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;

        // initialisation de la carte Google Map de départ
        function initialiserCarte() {
            geocoder = new google.maps.Geocoder();
            // Ici j'ai mis la latitude et longitude du vieux Port de Marseille pour centrer la carte de départ
            var latlng = new google.maps.LatLng(48.7736641, 1.979039);
            var mapOptions = {
                    zoom: 14,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                // map-canvas est le conteneur HTML de la carte Google Map
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }


        function TrouverAdresse() {

            // Récupération de l'adresse tapée dans le formulaire
            var adresse = document.getElementById('autocomplete').value;
            geocoder.geocode({
                'autocomplete': adresse
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    // Récupération des coordonnées GPS du lieu tapé dans le formulaire
                    var strposition = results[0].geometry.location + "";
                    strposition = strposition.replace('(', '');
                    strposition = strposition.replace(')', '');
                    // Affichage des coordonnées dans le <span>
                    document.getElementById('text_latlng').innerHTML = 'Coordonnées : ' + strposition;
                    // Création du marqueur du lieu (épingle)
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Adresse introuvable: ' + status);
                }

            });
        }

		$("#searchForm").submit(function(e){
			e.preventDefault();
			TrouverAdresse();
		})
		
		
            // This example displays an address form, using the autocomplete feature
            // of the Google Places API to help users fill in the information.

            // This example requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:


            var placeSearch, autocomplete;
            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };

            function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */
                    (document.getElementById('autocomplete')), {
                        types: ['geocode']
                    });

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }

            function fillInAddress() {
                // Get the place details from the autocomplete object and scroll on map.
            let place = autocomplete.getPlace();
            $("#searchForm").submit(function(e){
            e.preventDefault();
			geocodePlaceId(place.place_id)
     $('html, body').animate({
         scrollTop: $("#titre").offset().top
     }, 1200);
        })

            }


            // Bias the autocomplete object to the user's geographical location,
            // as supplied by the browser's 'navigator.geolocation' object.
            function myGeolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle({
                            center: geolocation,
                            radius: position.coords.accuracy
                        });
                        autocomplete.setBounds(circle.getBounds());
                    });
                }
            }

			// This function is called when the user clicks the UI button requesting
			// a geocode of a place ID.
			function geocodePlaceId(placeId) {
				geocoder.geocode({'placeId': placeId}, function(results, status) {
				if (status === 'OK') {
					if (results[0]) {
					map.setZoom(11);
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location
					});
					infowindow.setContent(results[0].formatted_address);
					infowindow.open(map, marker);
					} else {
					window.alert('No results found');
					}
				} else {
					window.alert('Geocoder failed due to: ' + status);
				}
				});
			}

			//------------------------------------------------------------------------------------------------------------------------------------------
			jQuery(document).ready(function($) {
				$(".scroll").click(function(e) {
					e.preventDefault();
					$('html,body').animate({
						scrolltop: $("#map-canvas").offset().top
					}, 900);
				});
				
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
			});
    </script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/bootstrap.js')) }}"></script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD42HD93hlHe0cVHdokra7uy69eZqI3HUg&libraries=places&callback=initialiserCarte" async defer></script>
    {% endblock %}