<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header_w3layouts_agile">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">

                    <div class="login-m_page_img">

                        <img src="{{ absolute_url(asset('assets/images/model.jpeg')) }}" alt=" " class="img-responsive" />

                    </div>
                    <div class="login-m_page">
                        <h3 class="sign">Sign Up</h3>
                        <div class="login-form">
                            <form id="register" method="post">
                                <input type="text" name="firstname" id="firstname" placeholder="Prénom" required="">
                                <input type="text" name="lastname" id="lastname" placeholder="Nom" required="">
                                <input type="email" name="email" id="email" placeholder="Email" required="">
                                <input type="text" name="departement" id="departement" placeholder="Votre Ville" required="">
                                <input type="password" name="password" placeholder="Password" id="password1" required="">
                                <input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
                                <input type="submit" value="Sign Up">
                            </form>
                            <p id="message"></p>
                        </div>
                        <p>
                            <a href="#"> By clicking Sign up, I agree to your terms</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->